<div>
    <div>
        <%= form_with model: [@shoe, @auction, @bid] do |f| %>
            <div>
                <%= f.label :price %>
                <%= f.number_field :price, step: 0.01, autofocus: true %>
            </div>

            <div>
                <%= f.submit %>
                <%= link_to "Cancel", shoe_auction_path(@shoe.id, @auction.id) %>
            </div>
        <% end %>
    </div>

    <div>
        <%= @bid.errors.full_messages.each do |message| %>
            <div><%= message %></div>
        <% end %>
        <% flash.each do |type, msg| %>
            <div><%= msg %></div>
        <% end %>
    </div>
</div>