<div class="container">
    <div>
        <%= form_with model: [@shoe, @auction, @bid] do |f| %>
            <div class="form-outline">
                <%= f.number_field :price, step: 0.01, autofocus: true, id:"typeNumber", class:"form-control" %>
                <label class="form-label" for="typeNumber">Input Bid</label>
            </div>

            <div>
                <%= f.submit class:"btn btn-success btn-block mt-2" %>
            </div>
        <% end %>
    </div>

    <div>
        <% flash.each do |type, msg| %>
            <div style="color: red;"><%= type %>:<%= msg %></div>
        <% end %>
    </div>
</div>
