
<div>
  <div class="row">
    <div class="col-md-2 mb-4">
        <div class="card rounded-border">
            <%= link_to shoe_auction_path(auction.shoe.id, auction.id) do %>
                <%= image_tag(auction.shoe.image, class: "img-fluid") %>
                <div class="card-body">
                    <h6 class="card-title"><%= auction.shoe.brand %> <%= auction.shoe.model %> </h6>
                      <span class="badge bg-warning">Size: <%= auction.shoe.size %></span>
                      <span class="badge bg-info">Color: <%= auction.shoe.color %></span>
                      <% if auction.bids.present? %>
                        <h5>Last Bid: PHP <%= auction.bids.last.price %></h5>
                        <h6><%= auction.bids.count %> bids</h6>
                      <% else %>
                        <p>Starting Price: <br><strong>Php <%= auction.starting_price %></strong></p>
                      <% end %>
                </div>
            <%end%>
        </div>
    </div>
  </div>
</div>

