<div>
    <div>
        <%= form_with model: [@shoe, @auction] do |f| %>
            <div>
                <%= f.label :description %>
                <%= f.text_area :description, autofocus: true %>
            </div>

            <div>
                <%= f.label :start_date %>
                <%= f.datetime_local_field :start_date, autofocus: true %>
            </div>

            <div>
                <%= f.label :end_date %>
                <%= f.datetime_local_field :end_date, autofocus: true %>
            </div>

            <div>
                <%= f.label :payment_method %>
                <%= f.radio_button :payment_method, "Cash" %>
                <%= f.label :payment_method_cash, "Cash" %>
                <%= f.radio_button :payment_method, "Card" %>
                <%= f.label :payment_method_card, "Card" %>

            </div>

            <div>
                <%= f.label :starting_price %>
                <%= f.number_field :starting_price, step: 0.01, autofocus: true %>
            </div>

            <div>
                <%= f.submit %>
                <%= link_to "Cancel", shoe_path(@shoe.id) %>
            </div>
        <% end %>
    </div>

    <div><%= @auction.errors.full_messages.each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
</div>
