<%= render "layouts/navbar" %>

<%= render "layouts/sidebar", user: current_user %>

<h1>Selling</h1>
<%#= link_to "Shoes", shoes_path %>
<%#= link_to "Auctions", auctions_path %>
<%#= link_to "Bids", bids_path %>

<div>
    <% @auctions.each do |auction| %>
        <%= link_to shoe_auction_path(auction.shoe.id, auction.id) do %>
            <h6>Status: <%= auction.status %></h6>
            <%= render "auction_card", auction: auction %>
            <br>
        <% end %>
    <% end %>
</div>