<h1>Auctions na Open na</h1>

<div>
    <% @auctions.each do |auction| %>
        <div>
            <h5>Shoe: <%= auction.shoe.brand %>, <%= auction.shoe.model %> size: <%= auction.shoe.size %> color: <%= auction.shoe.color %></h5>
            <h5>Description: <%= auction.description %></h5>
            <h5>Payment Method: <%= auction.payment_method %></h5>
            <h5>Start: <%= auction.start_date %> End: <%= auction.end_date %></h5>
            <h5>Status: <%= auction.status %></h5>
            <h5>Bids: <%= auction.bids.count %></h5>
            <%= link_to "View Auction", shoe_auction_path(auction.shoe.id, auction.id) %>
            <%= link_to "Edit Auction", edit_shoe_auction_path(auction.shoe.id, auction.id) %>
            <%= link_to "Create Bid", new_shoe_auction_bid_path(auction.shoe.id, auction.id) %>
            <%= link_to "View Bids History", history_bids_path(auction.id) %>
        </div>
    <% end %>
</div>