<%= render "layouts/navbar" %>

<%# <h1>Show auction</h1> %>
<%#= link_to "Shoes", root_path %>
<%#= link_to "Auctions", auctions_path %>
<%#= link_to "Bids", bids_path %>
<br>
<br>
<br>
[LEFT SIDE]
<div>
  <h1><%= @shoe.brand %> <%= @shoe.model %></h1>
  <h1><%= @shoe.color %></h1>
  <h3>Size <%= @shoe.size %></h3>
  <h3>Condition: <%= @shoe.condition %></h3>
  <h3>Owner: <%= @shoe.user.username %></h3>
  <div><%= image_tag("sample.png") %></div>
</div>
<br>
<br>
<br>
[RIGHT SIDE]
<div>
  <div>COUNTDOWN HERE</div>
  <br>
  <% if user_signed_in? && current_user.id == @auction.shoe.user_id %>
    <%= link_to "Edit Auction", edit_shoe_auction_path(@auction.shoe.id, @auction.id) %>
    <%= link_to "Destroy Auction", shoe_auction_path(@auction.shoe.id, @auction.id), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } %>
  <% else %>
    <%= render "bids/form" %>
  <% end %>
  <br>

  <div>
  Last Bid: <%#= @auction.bids.second_to_last.price %> |
  <%= link_to "View Bids", history_bids_path(@auction.id) %>
  | <%= link_to "View Auction Details" %>
  </div>
  [INSIDE AUCTION DETAILS]
  <h5>Description: <%= @auction.description %></h5>
  <h5>Starting Price: <%= @auction.starting_price %></h5>
  <h5>Number of Bids: <%= @auction.bids.count %></h5>
  <h5>Highest Bidder: <%#= @auction.bids.second_to_last.user.username %></h5>
  <h5>Opening Time: <%= @auction.start_date %></h5>
  <h5>Closing Time: <%= @auction.end_date %></h5>
  <h5>Status: <%= @auction.status %></h5>
  <h5>Payment Method: <%= @auction.payment_method %></h5>
  <%#= link_to "View Auction", shoe_auction_path(@auction.shoe.id, @auction.id) %>


  <%#= link_to "Create Bid", new_shoe_auction_bid_path(@auction.shoe.id, @auction.id) %>
</div>