<div>
    <div class="row">
        <% @trending.each do |auction| %>
            <div class="col-md-2 mb-4">
                <div class="card rounded-border">
                    <%= link_to shoe_auction_path(auction.shoe.id, auction.id) do %>
                        <%= image_tag(auction.shoe.image, class: "img-fluid") %>
                        <div class="card-body">
                            <h6 class="card-title"><%= auction.shoe.brand %> <%= auction.shoe.model %> </h6>
                            <div class="badge bg-success">₱<%= auction.bids.last.price %></div>
                            <span class="badge bg-warning">Size: <%= auction.shoe.size %></span>
                            <span class="badge bg-info">Color: <%= auction.shoe.color %></span>
                        </div>
                    <%end%>
                </div>
            </div>
        <% end %>
    </div>
</div>

