
<%= render "layouts/sidebar", user: current_user %>

<h1>
    Profile
    <%= link_to "Edit", edit_user_registration_path %>
</h1>

<h3>Name</h3>
<%= @user.first_name %> <%= @user.last_name %>

<h3>Username</h3>
<%= @user.username %>

<h3>Email</h3>
<%= @user.email %>

<h3>Contact Number</h3>
<%= @user.contact_number %>
