<%# Navbar %>


<%# <h1>Show shoe</h1> %>
<%#= link_to "Shoes", root_path %>
<%#= link_to "Auctions", auctions_path %>
<div class="container">
[LEFT SIDE]
<div>
  <h1><%= @shoe.brand %> <%= @shoe.model %></h1>
  <h1><%= @shoe.color %></h1>
  <h3>Size <%= @shoe.size %></h3>
  <h3>Condition: <%= @shoe.condition %></h3>
  <h3>Owner: <%= @shoe.user.username %></h3>

  <%= image_tag(@shoe.image) %>
</div>
<br>
<br>
<br>
[RIGHT SIDE]
  <% if user_signed_in? && current_user.id == @shoe.user_id %>
    <div>
      <%= link_to "Edit", edit_shoe_path(@shoe.id) %>
      <%= link_to "Delete", shoe_path(@shoe.id), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure you want to remove this item?"
      } %>
      <%= link_to "Auction Shoe", new_shoe_auction_path(@shoe.id) %>
    </div>
  <% end %>
</div>
