<nav>
  <%= link_to "LOGO", root_path %>      
  <%= link_to "FAQ", faq_path %>

  <% if user_signed_in? %>
      MyAccountButton
         
      <%# Inside MyAccount Button %>
      <div><%= link_to "Buying", buying_path %></div>
      <div><%= link_to "Selling", selling_path %></div>
      <div><%= link_to "Portfolio", shoes_path %></div>
      <div><%= link_to "Profile", profile_path %></div>
      <div><%= button_to "Log Out", destroy_user_session_path, method: :delete %></div>
  <% else %>
    <%= link_to "Login", new_user_session_path %>
    <%= link_to "Sign Up", new_user_registration_path %>
  <% end %>

</nav>